<div class="container">
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">infoBoothBD</h2>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
              <mat-icon>assignment_ind</mat-icon>
            </div>
            <h3 class="text-center mb-4">Sign In</h3>
            <form [formGroup]="loginForm" class="login-form">
              <div class="form-group m-2">
                <input type="text" class="form-control" placeholder="Username" formControlName="userName"/>
              </div>
              <div class="form-group m-2">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" />
              </div>
              <div class="form-group m-2">
                <button type="button" (click)="onLoginClick()" class="form-control btn btn-primary rounded submit px-3" [disabled]="!loginForm.valid">Login</button>
              </div>
              <!-- <div class="form-group d-md-flex">
                <div class="w-50 text-md-right">
                  <a href="#">Forgot Password</a>
                </div>
              </div> -->
            </form>
          </div>
        </div>
      </div>      
</div>