.heading-section {
    font-size: px;
    color: #ffffff;
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #1089ff;
    border-radius: 50%;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}