<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div [formGroup]="pOFormGroup" class="occupationForm">
            <mat-selection-list formControlName="occupationId">
                <mat-list-option *ngFor="let item of occupations$ | async" [value]="item.occupationId" [selected]="item.isSelected" [title]="item.occupationName">
                  {{ item.occupationName }}
                </mat-list-option>
              </mat-selection-list>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!pOFormGroup.valid">Save</button>
        </div>
    </div>
</div>


