<form [formGroup]="tuitionPostForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tuition Post</mat-card-title>
      <mat-card-subtitle>Tuition</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="g-3 pt-2">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="tutorId" class="form-label">Tutor</label>
            <ng-select
              [items]="tutors$ | async"
              id="tutorId"
              [searchable]="true"
              [multiple]="false"
              bindValue="id"
              bindLabel="name"
              formControlName="tutorId"
              placeholder="Please select tutor"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="title" class="form-label">Title</label>
            <input type="text" formControlName="title" class="form-control" id="title" />
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="description" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="description"></textarea>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="salary" class="form-label">Salary</label>
            <div class="row">
              <div class="col-8">
                <input type="number" formControlName="salary" class="form-control" id="salary" />
              </div>
              <div class="col-4">
                <mat-checkbox color="primary" formControlName="isNegotiable">Is negotiable?</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="medium" class="form-label">Medium</label>
            <ng-select
              [items]="medium$ | async"
              id="medium"
              [searchable]="false"
              [multiple]="false"
              bindValue="id"
              bindLabel="name"
              formControlName="medium"
              placeholder="Please select medium"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="availability" class="form-label">Validity(Days)</label>
            <input type="number" formControlName="validityInDays" class="form-control" id="validityInDays" />
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="availability" class="form-label">Available Days</label>
            <ng-select
              [items]="weekDays$ | async"
              id="availability"
              [searchable]="true"
              [multiple]="true"
              bindValue="id"
              bindLabel="name"
              formControlName="availability"
              placeholder="Please select available days"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="preferableGender" class="form-label">Preferable Gender</label>
            <ng-select
              [items]="genders$ | async"
              id="preferableGender"
              [searchable]="false"
              [multiple]="false"
              bindValue="id"
              bindLabel="name"
              formControlName="preferableGender"
              placeholder="Please select gender"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="teachingMethod" class="form-label">Teaching Method</label>
            <ng-select
              [items]="method$ | async"
              id="teachingMethod"
              [searchable]="false"
              [multiple]="false"
              bindValue="id"
              bindLabel="name"
              formControlName="teachingMethod"
              placeholder="Please select medium"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="timeSlot" class="form-label">Time Slot</label>
            <input type="text" formControlName="timeSlot" class="form-control" id="timeSlot" />
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="address" class="form-label">Address</label>
            <textarea formControlName="address" class="form-control" id="address"></textarea>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="districts" class="form-label">District</label>
            <ng-select
              [items]="districts$ | async"
              id="districts"
              [searchable]="true"
              [multiple]="false"
              bindValue="id"
              bindLabel="name"
              (change)="loadAreas($event)"
              formControlName="district" 
              placeholder="Please select district"></ng-select>
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <label for="address" class="form-label">Areas</label>
            <ng-select
              [items]="areas$ | async"
              id="preferredAreas"
              [searchable]="true"
              [multiple]="true"
              bindValue="id"
              bindLabel="name"
              formControlName="preferredAreas"
              placeholder="Please select area"></ng-select>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button-container">
      <button mat-raised-button color="primary" (click)="onTutorAdd()" [disabled]="!tuitionPostForm.valid" *ngIf="!isEditMode">Add</button>
      <button mat-raised-button color="primary" (click)="onTutorUpdate()" [disabled]="!tuitionPostForm.valid" *ngIf="isEditMode">Update</button>
      <button mat-raised-button (click)="resetForm()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
