{
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": true,
    "printWidth": 150,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "avoid",
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    
}