<mat-card>
  <mat-card-header>
    <mat-card-title>Buy Sell</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['id', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name']"></tr>
    </table>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>
