<form [formGroup]="itemForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Item Entry</mat-card-title>
      <mat-card-subtitle>Buy & Sell</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="row g-3 pt-2">
        <div class="col-md-4">
          <label for="categoryId" class="form-label">Category</label>
          <select class="form-select" formControlName="category" (change)="onCategoryChange()" aria-label="Please select Category" id="categoryId">
            <option selected value="null">Please select Category</option>
            <option *ngFor="let item of categories$ | async" value={{item.id}}>{{item.name}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="subCategoryId" class="form-label">Sub Category</label>
          <select class="form-select" formControlName="subCategoryId" aria-label="Please select Sub Category" id="subCategoryId">
            <option selected value="null">Please select Sub Category</option>
            <option *ngFor="let item of subCategories$ | async" value={{item.id}}>{{item.name}}</option>
          </select>
          <div *ngIf="itemForm.get('subCategoryId')?.hasError('required') && itemForm.get('subCategoryId')?.touched" class="text-danger">
            Sub category is required.
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name">
          <div *ngIf="itemForm.get('name')?.hasError('required') && itemForm.get('name')?.touched" class="text-danger">
            Name is required.
          </div>
        </div>        
        <div class="col-md-4">
          <label for="localname" class="form-label">Local Name</label>
          <input type="text" formControlName="localName" class="form-control" id="localname">
        </div>
        <div class="col-md-4">
          <label for="banglaName" class="form-label">Bangla Name</label>
          <input type="text" formControlName="banglaName" class="form-control" id="banglaName">
        </div>
        <div class="col-md-4">
          <label for="condition" class="form-label">Condition</label>
          <select class="form-select" formControlName="condition" aria-label="Please select condition" id="condition">
            <option selected value="null">Please select condition</option>
            <option value="1">New</option>
            <option value="2">Used</option>
            <option value="3">Intake</option>
            <option value="4">Like New</option>
            <option value="5">Running</option>
            <option value="6">Not Working</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="shortDescription" class="form-label">Short Description</label>
          <textarea class="form-control" formControlName="shortDescription" id="shortDescription" rows="3"></textarea>
          <div *ngIf="itemForm.get('shortDescription')?.hasError('required') && itemForm.get('shortDescription')?.touched" class="text-danger">
            Short description is required.
          </div>
        </div>
        <div class="col-md-8">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
        </div>
        <div class="col-md-4">
          <label for="isSeasional" class="form-label">Is Seasonal</label>
          <select class="form-select" aria-label="Please select condition" id="isSeasional">
            <option selected value="null">N/A</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="measurement" class="form-label">Measurement Unit</label>
          <select class="form-select" aria-label="Please select condition" id="measurement" formControlName="measurementTypeId">
            <option selected value="null">N/A</option>
            <option *ngFor="let item of measurementTypes$ | async" value={{item.id}}>{{item.name}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="transactionType" class="form-label">Transaction Type</label>
          <select class="form-select" aria-label="Please select transaction" id="transactionType" formControlName="transactionType">
            <option selected value="null">Please select type</option>
            <option value="1">Sell</option>
            <option value="2">Buy</option>
            <option value="3">Borrow</option>
          </select>
          <div *ngIf="itemForm.get('transactionType')?.hasError('required') && itemForm.get('transactionType')?.touched" class="text-danger">
            Type is required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="person" class="form-label">Posted By</label>
          <select class="form-select" aria-label="Please select person" id="person" formControlName="personId">
            <option selected value="null">Please select person</option>
            <option *ngFor="let item of persons$ | async" value={{item.id}}>{{item.name}}</option>
          </select>
          <div *ngIf="itemForm.get('personId')?.hasError('required') && itemForm.get('personId')?.touched" class="text-danger">
            Person is required.
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button-container">
      <button mat-raised-button color="primary" (click)="onItemAdd()" [disabled]="!itemForm.valid" *ngIf="!isEditMode">Add</button>
      <button mat-raised-button color="primary" (click)="onItemUpdate()" [disabled]="!itemForm.valid" *ngIf="isEditMode">Update</button>
      <button mat-raised-button [routerLink]="['..']">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>