<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="degreeId" class="form-label">Degree</label>
            <input type="text" formControlName="degreeId" class="form-control" id="degreeId" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="subjectId" class="form-label">Subject</label>
            <input type="text" formControlName="subjectId" class="form-control" id="subjectId" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="instituteName" class="form-label">Institute Name</label>
            <input type="text" formControlName="instituteName" class="form-control" id="instituteName" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control" id="startDate" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" id="endDate" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="group" class="form-label">group</label>
            <input type="text" formControlName="group" class="form-control" id="group" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="result" class="form-label">Result</label>
            <input type="text" formControlName="result" class="form-control" id="result" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="gpa" class="form-label">GPA</label>
            <input type="number" formControlName="gpa" class="form-control" id="gpa" />
            <input type="number" formControlName="gpaOutOf" class="form-control" id="gpaOutOf" />
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12">
            <label for="passingYear" class="form-label">Passing Year</label>
            <input type="text" formControlName="passingYear" class="form-control" id="passingYear" />
        </div>
    </div>
</form>