<form [formGroup]="workerForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Worker Entry</mat-card-title>
            <mat-card-subtitle>Worker</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <div class="g-3 pt-2">
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <label for="personId" class="form-label">Worker Name</label>
                  <ng-select [items]="persons$ | async"
                      id="personId"
                      [searchable]="true"
                      bindValue="id" 
                      bindLabel="name"
                      formControlName="personId">
                  </ng-select>
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="tlname" class="form-label">Team Leader Name</label>
                  <input type="text" formControlName="teamLeaderName" class="form-control" id="tlname">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="tlMobile" class="form-label">Team Leader Mobile</label>
                  <input type="text" formControlName="teamLeaderMobile" class="form-control" id="tlMobile">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="totalTeamMember" class="form-label">Total Member</label>
                  <input type="number" formControlName="totalTeamMember" class="form-control" id="totalTeamMember">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="expectedWages" class="form-label">Expected Wages</label>
                  <input type="number" formControlName="expectedWages" class="form-control" id="expectedWages">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="goodAts" class="form-label">Good Ats</label>
                  <ng-select [items]="goodAts"
                      id="goodAts"
                      [multiple] = true
                      [searchable]="true"
                      bindValue="id" 
                      bindLabel="name"
                      formControlName="goodAts">
                  </ng-select>                 
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="workGroups" class="form-label">Work Groups</label>
                  <ng-select [items]="workGroups$ | async"
                      id="workGroups"
                      [multiple] = true
                      [searchable]="true"
                      bindValue="id" 
                      bindLabel="name"
                      formControlName="workGroups">
                  </ng-select>                 
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="workAbilities" class="form-label">Work Abilities</label>
                  <ng-select [items]="workAbilities$ | async"
                      id="workAbilities"
                      [multiple] = true
                      [searchable]="true"
                      bindValue="id" 
                      bindLabel="name"
                      formControlName="workAbilities">
                  </ng-select>                 
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="perferableDays" class="form-label">Perferable Days</label>
                  <ng-select [items]="perferableDays$ | async"
                      id="perferableDays"
                      [multiple] = true
                      [searchable]="true"
                      bindValue="id" 
                      bindLabel="name"
                      formControlName="perferableDays">
                  </ng-select>                 
                </div>
                <div class="col-md-12 col-xs-12">
                  <label for="detail" class="form-label">Detail</label>
                  <input type="text" formControlName="detail" class="form-control" id="detail">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="startTime" class="form-label">Start Time</label>
                  <input type="time" formControlName="startTime" class="form-control" id="startTime">
                </div>
                <div class="col-md-4 col-xs-12">
                  <label for="endTime" class="form-label">End Time</label>
                  <input type="time" formControlName="endTime" class="form-control" id="endTime">
                </div>
                <div class="col-md-4 col-xs-12 pt-4">
                  <mat-checkbox formControlName="isNegotiable" id="isNegotiable">Is Negotiable</mat-checkbox>
                </div>
              </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="action-button-container">
            <button mat-raised-button color="primary" (click)="onWorkerSave()" [disabled]="!workerForm.valid" *ngIf="!isEditMode">Add</button>
            <button mat-raised-button color="primary" (click)="onWorkerUpdate()" [disabled]="!workerForm.valid" *ngIf="isEditMode">Update</button>
            <button mat-raised-button (click)="resetForm()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>

