

<form [formGroup]="favoriteFormGroup">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Your Favorite</mat-card-title>
        </mat-card-header>
        <mat-card-content>    
                <div class="row">                  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="cloth" class="form-label">Cloth</label>
                        <input type="text" formControlName="cloth" class="form-control" id="cloth" />
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="bird" class="form-label">Bird</label>                       
                        <input type="text" formControlName="bird" class="form-control" id="bird" />
                    </div>              
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="animal" class="form-label">Animal</label>
                        <input type="text" formControlName="animal" class="form-control" id="animal" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="food" class="form-label">Food</label>
                        <input type="text" formControlName="food" class="form-control" id="food" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="pet" class="form-label">Pet</label>
                        <input type="text" formControlName="pet" class="form-control" id="pet" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="fish" class="form-label">Fish</label>
                        <input type="text" formControlName="fish" class="form-control" id="fish" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="fruit" class="form-label">Fruit</label>
                        <input type="text" formControlName="fruit" class="form-control" id="fruit" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="vehicle" class="form-label">Vehicle</label>
                        <input type="text" formControlName="vehicle" class="form-control" id="vehicle" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="book" class="form-label">Book</label>
                        <input type="text" formControlName="book" class="form-control" id="book" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="sport" class="form-label">Sport</label>
                        <input type="text" formControlName="sport" class="form-control" id="sport" />
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="movie" class="form-label">Movie</label>
                        <ng-select [items]="movies$ | async"
                            id="movie"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="movie">
                        </ng-select>
                    </div>  
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="cooking" class="form-label">Cooking</label>
                        <ng-select [items]="cookings$ | async"
                            id="cooking"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="cooking">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="game" class="form-label">Game</label>
                        <ng-select [items]="games$ | async"
                            id="game"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="game">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="music" class="form-label">Music</label>
                        <ng-select [items]="musics$ | async"
                            id="music"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="music">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="read" class="form-label">Read</label>
                        <ng-select [items]="reads$ | async"
                            id="read"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="read">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="tvShow" class="form-label">TV Show</label>
                        <ng-select [items]="tvShows$ | async"
                            id="tvShow"
                            [searchable]="true"
                            [multiple]="true"
                            bindValue="name" 
                            bindLabel="name"
                            formControlName="tvShow">
                        </ng-select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <label for="website" class="form-label">Website</label>
                        <input type="text" formControlName="website" class="form-control" id="website" />
                    </div>  
                </div>        
        </mat-card-content>
        <mat-card-actions  class="action-button-container">
            <button mat-raised-button (click)="onSave()" [disabled]="!favoriteFormGroup.valid" color="primary">Save</button>
            <button mat-raised-button (click)="onClear()" color="accent">Clear</button>
        </mat-card-actions>
    </mat-card>
    </form>