<div [formGroup]="formGroup" class="row">
  <div class="col-md-4">
    <label for="district" class="form-label">District</label>
    <ng-select
      [items]="districts$ | async"
      id="districtId"
      [searchable]="true"
      bindValue="id"
      bindLabel="name"
      formControlName="district"
      (change)="loadUpazilas()"
      placeholder="Please select district"
    >
    </ng-select>
  </div>
  <div class="col-md-4">
    <label for="upazila" class="form-label">Upazila</label>
    <ng-select
      [items]="upazilas$ | async"
      id="upazila"
      [searchable]="true"
      bindValue="id"
      bindLabel="name"
      formControlName="upazila"
      (change)="loadVillages()"
      placeholder="Please select upazila"
    >
    </ng-select>
  </div>
  <div class="col-md-4">
    <label for="village" class="form-label">Village</label>
    <ng-select
      [items]="villages$ | async"
      id="village"
      [searchable]="true"
      bindValue="id"
      bindLabel="name"
      formControlName="village"
      (change)="onVillageChange()"
      placeholder="Please select village"
    >
  </ng-select>
  </div>
</div>