<form [formGroup]="villageForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Village Entry</mat-card-title>
      <mat-card-subtitle>Location</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="row g-3 pt-2">
        <div class="col-md-4">
          <label for="district" class="form-label">District</label>
          <ng-select
            [items]="districts$ | async"
            id="district"
            [searchable]="true"
            bindValue="id"
            bindLabel="name"
            formControlName="districtId"
            placeholder="Please select district"
            (change)="loadUpazilas()"></ng-select>
        </div>
        <div class="col-md-4">
          <label for="upazila" class="form-label">Upazila</label>
          <ng-select
            [items]="upazilas$ | async"
            id="upazila"
            [searchable]="true"
            bindValue="id"
            bindLabel="name"
            formControlName="upazilaId"
            placeholder="Please select upazila" />
        </div>
        <div class="col-md-4 col-xs-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" />
        </div>
        <div class="col-md-4 col-xs-12">
          <label for="name" class="form-label">Bangla Name</label>
          <input type="text" formControlName="banglaName" class="form-control" id="name" />
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button-container">
      <button mat-raised-button color="primary" (click)="onOccupationAdd()" [disabled]="!villageForm.valid" *ngIf="!isEditMode">Add</button>
      <button mat-raised-button color="primary" (click)="onOccupationUpdate()" [disabled]="!villageForm.valid" *ngIf="isEditMode">Update</button>
      <button mat-raised-button (click)="reset()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
