<form [formGroup]="subCategoryForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sub Category</mat-card-title>
      <mat-card-subtitle>buy-sell</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="g-3 pt-2">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <label for="categoryId" class="form-label">Category</label>
            <span class="text-danger">*</span>
            <ng-select
            [items]="categories$ | async"
            id="categoryId"
            [searchable]="true"
            [multiple]="false"
            bindValue="id"
            bindLabel="name"
            formControlName="categoryId"
            placeholder="Please select category"></ng-select>
          </div>
          <div class="col-md-4 col-xs-12">
            <label for="name" class="form-label">Name</label>
            <span class="text-danger">*</span>
            <input type="text" formControlName="name" class="form-control" id="name" />
          </div>          
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button-container">
      <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="!subCategoryForm.valid" *ngIf="!editMode">Add</button>
      <button mat-raised-button color="primary" (click)="onUpdate()" [disabled]="!subCategoryForm.valid" *ngIf="editMode">Update</button>
      <button mat-raised-button (click)="onClear()">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
