<div class="card">
  <div class="card-header">
    Sub Category
  </div>
  <div class="card-body">
    <form class="row" [formGroup]="subCategoryForm">
      <div class="col-6">
        <label for="category" class="form-label">Category</label>
        <select class="form-select"  aria-label="Please select category" formControlName="categoryId" id="category">
          <option selected value="null">Please select category</option>
          <option *ngFor="let cat of categories$ | async" value={{cat.id}}>{{cat.name}}</option>
        </select>
      </div>
      <div class="col-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="action-button-container">
      <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="!subCategoryForm.valid" *ngIf="!editMode">Add</button>
      <button mat-raised-button color="primary" (click)="onUpdate()" [disabled]="true" *ngIf="editMode">Update</button>
      <button mat-raised-button color="warn" (click)="onClear()">Cancel</button>
    </div>
  </div>
</div>
