<div class="card">
  <div class="card-header">
    Items
  </div>
  <div class="card-body">
    <div class="row pt-2">
      <div class="col-6">
        <button mat-fab extended color="primary" [routerLink]="['../item']"><mat-icon fontIcon="add"></mat-icon>Add an Item</button>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (input)="onFilter($event)" placeholder="put an search item" #input>
        </mat-form-field>
      </div>
    </div>

    <div class="data-loader" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Description </th>
          <td mat-cell *matCellDef="let row"> {{row.shortDescription}}% </td>
        </ng-container>

        <ng-container matColumnDef="subCategoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category </th>
          <td mat-cell *matCellDef="let row"> {{row.subCategoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Condition </th>
          <td mat-cell *matCellDef="let row"> {{row.condition}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                     [length]="count" [pageSize]="pageSize"
                     (page)="pageEvent = $event;onPageChange($event)"
                     aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
